/* Simple CSS Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/* inisiasi section */
section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* Membuat navbar sederhana */
.container-satu {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

header {
	background-color: #aaa;
}

.nav-kiri,
.nav-kanan {
	margin: 1.5rem;
	padding: 0.5rem;
}

.nav-kiri {
	font-size: 1.2rem;
	cursor: pointer;
}

.nav-kanan {
	border: 3px solid blue;
	border-radius: 10px;
	font-size: 1.05rem;
	background-color: cornflowerblue;
	cursor: pointer;
}

.container-dua {
	max-width: 800px;
	margin: 2rem auto 0;
	padding-bottom: 1.5rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.hero-kanan {
	padding: 1rem;
	width: 300px;
	height: 350px;
	border-radius: 20px;
	background-color: blanchedalmond;
}

.hero-kiri {
	width: 400px;
	padding: 1.5rem;
	margin: auto 0.3rem;
}
/* Menu Pertama */

#menu-pertama {
	background-color: darkblue;
}
.container-tiga {
	padding-top: 2rem;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-color: #aabbcc;
	flex-wrap: wrap;
}

.container-tiga .row-1 {
	max-width: 20%;
	text-align: center;
}

.container-tiga .row-1 h3 {
	margin: 1.2rem;
}

.container-tiga .row-2 {
	max-width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: center;
}

.kotak {
	display: flex;
	flex-wrap: wrap;
}

.kotak .gambar-1 {
	width: 200px;
	height: 200px;
	background-color: crimson;
	margin: 0.5rem;
}
.kotak p {
	margin: 0.5rem;
	max-width: 50%;
}

/* Menu Kedua */

#menu-kedua {
	background-color: lightgrey;
}

.container-4 {
	max-width: 80%;
	margin: 1rem auto;
	background-color: lightpink;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.container-4 .row-1 {
	max-width: 20%;
	padding: 0.7rem;
}

.container-4 .row-2 {
	max-width: 80%;
	padding: 0.7rem;
}
.kotak-2 {
	margin-bottom: 1rem;
	padding: 0.2rem;
}

/* section ketiga */

#menu-ketiga {
	background-color: lightseagreen;
}

.container-5 {
	background-color: lightskyblue;
	width: 80%;
	margin: 1rem auto;
}

.container-5 .row-1 {
	padding: 1rem;
	margin-bottom: 2rem;
	text-align: center;
}

.container-5 .row-2 {
	display: flex;
	padding: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.container-5 .row-2 .kotak-3 {
	width: 250px;
	height: 250px;
	margin: 0.2rem;
	background-color: lightyellow;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-5 .row-2 .kotak-3 p {
	font-size: 3rem;
	font-weight: bold;
}

/* menu keempat */

#menu-keempat {
	background-color: pink;
}

.container-6 {
	background-color: plum;
	width: 80%;
	margin: 1rem auto;
}

.container-6 .row-1 {
	background-color: purple;
	text-align: center;
	padding: 1rem;
	margin-bottom: 2rem;
}

.container-6 .row-2 {
	background-color: peru;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-6 .row-2 .kotak-4 {
	background-color: darkorchid;
	width: 250px;
	margin: 0.7rem;
	text-align: center;
	padding: 1rem;
}
.container-6 .row-2 .kotak-4 p {
	margin: 0.8rem 0;
}
.container-6 .row-2 .kotak-4 .gambar {
	width: 80px;
	height: 80px;
	background-color: rgb(92, 174, 212);
	margin: 0 auto 0.6rem;
	border-radius: 10px;
}

/* Menu kelima */
#menu-kelima {
	background-color: deeppink;
}

.container-7 {
	background-color: deepskyblue;
	width: 80%;
	margin: 1rem auto;
	padding: 1rem;
}

.container-7 .row-1 {
	padding: 1rem;
	margin-bottom: 2rem;
	text-align: center;
}

.container-7 .row-2 {
	background-color: gold;
	padding: 0.4rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container-7 .row-2 .kotak-5 {
	background-color: firebrick;
	padding: 0.7rem;
	width: 250px;
	margin: 0.5rem;
}

.container-7 .row-2 .row-2-2 {
	background-color: fuchsia;
	padding: 0.3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.container-7 .row-2 .row-2-2 .profil {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: gainsboro;
	margin: 0.2rem;
}
.container-7 .row-2 .row-2-2 .name {
	margin: 0.2rem;
}

.container-7 .row-2 .row-2-2 .name p {
	font-style: oblique;
}

.container-7 .row-2 .row-2-2 .name a {
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

/* jeda */

#jeda {
	background-image: linear-gradient(90deg, darkblue, blue);
}

.bungkus {
	width: 80%;
	margin: 1rem auto;
	/* padding: 3rem; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.bungkus .kiri h2 {
	font-size: 2rem;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: ivory;
	margin: 1.4rem 0;
}

.bungkus .kanan a {
	color: white;
	background-color: rgb(27, 185, 27);
	padding: 0.5rem 3rem;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

/* menu keenam */
/* sama dengan menu ke 2 */

/* footer */

footer {
	background-color: darkblue;
	padding: 1.2rem 0;
}

.container-8 {
	width: 80%;
	margin: 1.5rem auto;
	display: flex;
	color: floralwhite;
	font-size: 0.8rem;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.container-8 .kanan ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	align-items: center;
	flex-wrap: wrap;
}

.container-8 .kanan ul li {
	margin: 1rem;
}

/* responsive */

@media (max-width: 800px) {
	.container-tiga {
		flex-direction: column;
	}

	.container-tiga .row-1 {
		max-width: 100%;
	}

	.container-tiga .row-2 {
		justify-items: center;
	}

	.kotak {
		justify-content: center;
	}

	.container-tiga .row-2 {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.container-4 {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container-4 .row-1 {
		max-width: 100%;
	}

	.container-8 {
		justify-content: center;
		align-items: center;
	}
}
