/* Simple CSS Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/* inisiasi section */
section {
	padding-top: 3rem;
}

/* Membuat navbar sederhana */
.container-satu {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

header {
	background-color: #aaa;
}

.nav-kiri,
.nav-kanan {
	margin: 1.5rem;
	padding: 0.5rem;
}

.nav-kiri {
	font-size: 1.2rem;
	cursor: pointer;
}

.nav-kanan {
	border: 3px solid blue;
	border-radius: 10px;
	font-size: 1.05rem;
	background-color: cornflowerblue;
	cursor: pointer;
}

.container-dua {
	max-width: 800px;
	margin: 2rem auto 0;
	padding-bottom: 1.5rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.hero-kanan {
	padding: 1rem;
	width: 300px;
	height: 350px;
	border-radius: 20px;
	background-color: blanchedalmond;
}

.hero-kiri {
	width: 400px;
	padding: 1.5rem;
	margin: auto 0.3rem;
}
/* Menu Pertama */

#menu-pertama {
	background-color: darkblue;
}
.container-tiga {
	padding-top: 2rem;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-color: #aabbcc;
	flex-wrap: wrap;
}

.container-tiga .row-1 {
	max-width: 20%;
	text-align: center;
}

.container-tiga .row-1 h3 {
	margin: 1.2rem;
}

.container-tiga .row-2 {
	max-width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: center;
}

.kotak {
	display: flex;
	flex-wrap: wrap;
}

.kotak .gambar-1 {
	width: 200px;
	height: 230px;
	background-color: crimson;
	margin: 0.5rem;
}
.kotak p {
	margin: 0.5rem;
	max-width: 50%;
}

/* Menu Kedua */
.container-4 {
	width: 80%;
	margin: 1rem auto;
}

/* responsive */

@media (max-width: 580px) {
	.container-tiga {
		flex-direction: column;
	}

	.container-tiga .row-1 {
		max-width: 100%;
	}

	.container-tiga .row-2 {
		justify-items: center;
	}

	.kotak {
		justify-content: center;
	}

	.container-tiga .row-2 {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}
